table {
    margin-left: 2rem;
    margin-top: 2rem;
    border-collapse: collapse;
    display: block;
    height: 400px;
    overflow-y: scroll;
    width: 700px;
}

th,
td:not(.admin-tbody-checkbox) {
    padding-left: 1rem;
}

td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


/*
TABLE HEAD
*/


.admin-page-table-head-container th {
    text-align: left;
    background-color: rgb(45, 81, 180);
    color: white;
    height: 2.5rem;

}


.admin-page-table-head-container th:first-child {
    border: 1px rgba(0, 0, 0, 0) solid;
    border-top-left-radius: 10px;
}

.admin-page-table-head-container th:last-child {
    border: 1px rgba(0, 0, 0, 0) solid;
    border-top-right-radius: 10px;
}

.admin-page-table-head-container>tr :first-child,
.admin-page-table-head-container>tr :nth-child(2) {
    width: 5%;
    color:yellow;
}


.admin-page-table-head-container>tr :nth-child(3) {
    width: 55%;
    color:red;
}

.admin-page-table-head-container>tr :nth-child(4) {
    width: 35%;
    color:rgb(136, 235, 136);
}



/*
TABLE BODY/DATA
*/

.admin-tbody-container{
    outline: black 1px solid;
    overflow-y: scroll;
}


.admin-tbody-checkbox {
    text-align: center;

}

.table-data-row input {
    cursor: pointer;
    width: 100%;
}

.table-data-row .table-data-actions {
    padding-left: 0;
}

.table-data-row .table-data-actions div a {
    color:black
}

.table-data-actions a~a {
    margin-left: 1rem;
}

.table-data-actions div {
    padding-left: 1rem;
    height: 100%;
}

.admin-tbody-container tr:nth-child(odd) {
    background-color: rgb(228, 228, 228);
}

