* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	background: #fff;
	color: #000;
}

/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* sets the base font size for the document; turns on kerning pairs and ligatures */

body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
dl,
p {
	margin: 0;


}

textarea,
input,
ul,
ol,
dl,
p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem
}

.page-filler-delete {
	min-height: 650px;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
}

:root {
    --container-width: 1156px;
    --medium-container-width: 700px;
    --transition-speed: 0.4s;
    --primary-color: #008cba;
    --secondary-color: #18191b;
    --white-background: white;
    --light-gray: rgb(224, 224, 224);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
